body, :root{
  margin: 0;
  background-color: #e1ecff;
}

a {
  text-decoration: none;
  color: #0d6efd;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: #70a3f6;
}

.nav-link {
  color: #ffffff;
}

.hero-section {
  background: linear-gradient(90deg, #3b82f6, #2563eb);
  color: white;
  border-radius: 12px;
  padding: 3rem 1rem;
}

